<div class="app-brand demo">
    <a href="../page/dashboard.html" class="app-brand-link">
        <span class="app-brand-logo demo">
            <img src="/admin/assets/img/logo/KOVAMARA - LOGO - Dashboard.png" alt="Logo" height="45" />
            <p></p>
        </span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
</div>


<div class="menu-inner-shadow"></div>
<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="dashboard.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Bảng điều khiển</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="report.html" class="menu-link">
            <i class='menu-icon tf-icons bx bxs-file-export' ></i>
            <div data-i18n="Analytics">Báo cáo</div>
        </a>
    </li>

    <li class="menu-header small text-uppercase" data-role="Admin">
        <span class="admin">Quản trị</span>
    </li>
    <li class="menu-item" data-role="Admin">
        <a href="manage-user.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-collection"></i>
            <div data-i18n="manage-user">Người Dùng</div>
        </a>
    </li>
    <li class="menu-item" data-role="Admin">
        <a href="manage-province.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-map-pin"></i>
            <div data-i18n="manage-province">Tỉnh - Thành Phố</div>
        </a>
    </li>
    <li class="menu-item" data-role="Admin">
        <a href="manage-subdistrict.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-map-alt"></i>
            <div data-i18n="manage-subdistrict">Quận - Huyện</div>
        </a>
    </li>
    <li class="menu-item" data-role="Admin">
        <a href="manage-store.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-store"></i>
            <div data-i18n="manage-store">Cửa Hàng Kovamara</div>
        </a>
    </li>

    <li class="menu-header small text-uppercase" data-role="StoreOwner">
        <span class="menu-header-text">Cửa Hàng</span>
    </li>

    <!-- Store Owner -->
    <li class="menu-item" data-role="StoreOwner">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-box"></i>
            <div data-i18n="">Hàng hóa - Tồn kho</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="manage-icream.html" class="menu-link">
                    <div data-i18n="manage-icream">Kem - Kovamara</div>
                </a>
            </li>
            <li class="menu-item" >
                <a href="manage-stock-storeOwner.html" class="menu-link">
                    <div data-i18n="manage-stock">Lịch sử Nhập - Xuất</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- Admin -->
    <li class="menu-header small text-uppercase" data-role="Admin">
        <span class="menu-header-text">Chuỗi Cửa Hàng</span>
    </li>
    
    <li class="menu-item" data-role="Admin">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-box"></i>
            <div data-i18n="">Quản Lý tồn kho</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="manage-icream-admin.html" class="menu-link">
                    <div data-i18n="manage-icream">Tổng Tồn Kho</div>
                </a>
            </li>
            <li class="menu-item" >
                <a href="manage-stock-admin.html" class="menu-link">
                    <div data-i18n="manage-stock">Kiểm Kê Nhập - Xuất</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- StoreOwner -->
    <li class="menu-header small text-uppercase" >
        <span class="menu-header-text">Đơn Hàng</span>
    </li>
    
    <li class="menu-item" data-role="StoreOwner">
        <a href="manage-order-storeOwner.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-cart"></i>
            <div data-i18n="manage-user">Điều Phối Đơn Hàng</div>
        </a>
    </li>

    <li class="menu-item" data-role="Admin">
        <a href="manage-order-admin.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-cart-alt"></i>
            <div data-i18n="manage-user">Quản Lý Đơn Hàng</div>
        </a>
    </li>

    <!-- Misc -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Khác</span></li>
    <li class="menu-item">
        <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues" target="_blank"
            class="menu-link">
            <i class="menu-icon tf-icons bx bx-support"></i>
            <div data-i18n="Support">CSKH</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/" target="_blank"
            class="menu-link">
            <i class="menu-icon tf-icons bx bx-file"></i>
            <div data-i18n="Documentation">Tài Liệu</div>
        </a>
    </li>
</ul>